.about-section{
    padding:1rem 9rem;
    position: relative;
    top: 10.5rem;
    /* box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.205); */
    /* background-color: red; */
    max-width: 1400px;
    min-width: 800px;
    margin: 0 auto;
}

.about-section-title {
    text-align: center;
    font-size: 2rem;
}

.about-section-title span {
    color: black;
}

.about-section-title button{
    display: none;
}

.about-section-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
    position: relative;
}
.about-section-main-article{
   max-width: 49rem;
}

.about-section-main-article h3{
    margin-bottom: 1.1rem;
    font-size: 3.3rem;
}

.about-section-main-article p {
    margin-bottom: 2.7rem;
    font-size: 2.5rem;
    color: #000000;
    font-weight: 500;
}

.about-section-main-article button{
    color: white;
    background-color: #056050 ;
    font-size: 1.8rem;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 2.5rem;
}

.about-section-img{
    width: 35%;
}

.ellipse-empty{
    position: absolute;
    width: 38%;
    left: 45rem ;
    top: -3rem;
}

.about-section-img img{
    width: 100%;
}

@media (max-width: 1000px) {
    
    .about-section{
        top: 6.5rem;
        box-shadow: none;
        padding:0rem 4rem;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .about-section-title {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       font-size: 1.4rem;
    }
    
    .about-section-title h1 {
       margin: 2.8rem 0;
    }

    .about-section-title h1 span {
        color: #056050 ;
     }

    .about-section-title button{
        display: block;
        color: white;
        background-color: #056050 ;
        font-size: 1.8rem;
        border: none;
        padding: 1rem 1.5rem;
        border-radius: 2.5rem;
        
    }

    .about-section-main {
        flex-direction: column-reverse;
        text-align: center;
        width: 80%;
    }

    .about-section-main-article h3{
        font-size: 4rem;
        color: #056050 ;
    }
    
    .about-section-main-article p {
        display: none;
    }

    .about-section-img{
        margin:  1.2rem 0rem;
        width: 100%;
    }

    .about-section-img img{
        width: 100%;
    }

    .ellipse-empty{
      display: none;
    }

    .about-section-main-article button{
      display: none;
    }
}