.feature-section{
    /* margin: 2rem 0; */
    padding: 3rem 4rem;
    position: relative;
    top: 0.5rem;
    margin-bottom: 5rem;
}

.feature-section-cards{
    display: flex;
    align-items: center;
    gap: 5rem;
    margin: 2rem 0rem;
    justify-content: center;
    flex-wrap: wrap;
}

.feature-section-card{
    width: 40%;
    padding: 2rem;
    border-radius: 3rem;
    border: 1px solid #cdefe9 ;
    height: auto;
}
.card-article h3{
    font-size: 1.8rem;
}
.card-article p{
    font-size: 1.5rem;
}

@media (min-width:330px)  {
    .feature-section-card{
        height: 33rem;
    }
}



@media (min-width:420px)  {
    .feature-section-card{
        height: 27rem;
    }
    
}

@media (min-width:500px)  {
    .feature-section-cards{
        display: flex;
        align-items: center;
        gap: 3rem;
        margin: 2rem 0rem;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 120rem ;
        margin: 0 auto;
    }

    .feature-section-card{
        height: 22rem;
        width: 20rem;
        padding: 2rem;
        border-radius: 3rem;
        border: 1px solid #cdefe9 ;
    
    }
}

@media (min-width:1000px)  {
    .feature-section{
        padding: 0rem 10rem 3rem 10rem;
        max-width: 135rem;
        margin: auto;
    }
    .feature-section-cards{
       justify-content: space-between;
        gap: 7rem;
    }
}