.popup-section{
    /* width: 20rem; */
    color: green;
    border-radius: 20rem;
    position: fixed;
    background-color: rgb(231, 229, 229);
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    text-align: center;
    z-index: 400000000;
    font-size: 1.9rem;
    padding: .6rem 1rem;
}